body{
	margin-bottom: 100px;
}
.dinges{
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
#topnavbar{
	float: right;
	margin-top: -30px;
}
h1{
	margin-top: 40px;
	border-bottom: 5px solid #000;
	padding-bottom: 12px;
}
h2.exhibitiontitle{
	margin-top: 20px;
	padding-bottom: 6px;
	font-size: 28px;
	border: none;
}
h2{
	margin-top: 32px;
	padding-top: 12px;
	padding-bottom: 6px;
	font-size: 24px;
	border-top: 5px solid #ccc;
}
h3{
	border-top: 5px solid #DFDFDF;
	margin-top: 12px;
	padding-top: 6px;
	font-size: 15px;
}
h4{
	margin-top: 0;
	padding-top: 0;
	font-size: 16px;
}
.lead{
	margin-top: 28px;
}
#about img{
	width: 100%;
	margin-top: 32px;
	margin-bottom: 8px;
}
#dates h2{
	margin-top: 12px;
	padding-top: 6px;
	font-size: 18px;
	border: none;
}
label{
	margin-top: 16px;
	margin-bottom: 0;
}
.btn-primary{
	margin-top: 16px;
}
#field-url{
	display: none;
}
.msg{
	background-color: #B5ECD2;
	color: #668576;
	padding: 5px 10px;
}
a{
	color: #D55140;
}
a:visited{
	color: #FD5E49;
}
h3 a:visited{
	color: #7B7B7B;
}
a:hover{
	text-decoration: none;
	color: #D55140;
}
h3 a{
	color: #000;
}
h1 a:hover, h1 a:visited{
	text-decoration: none;
	color: #000;
}
.light{
	color: #ccc;
}
.infobutton{
	float: right;
	background-color: #8DC1EA;
	color: #fff;
	font-size: 9px;
	font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
	border:none;
	font-weight: bold;
	padding-top: 4px;
	margin-top: 3px;
	margin-left: 3px;
}
.infobutton:focus {
    outline:none;
}
.description{
	display: none;
	position: absolute;
	z-index: 100;
	background-color: #fff;
	padding-bottom: 10px;
	border-bottom: 5px solid #ccc;
	margin-right: 15px;
}
#decades{
	margin-bottom: 20px;
}
#decades a{
	font-size: 14px;
	color: #000;
	display: inline-block;
	border-left: 1px solid #000;
	padding-left: 10px;
	margin-right: 10px;
}
#decades a:first-of-type{
	border-left: none;
	padding-left: 0;
}
.duration{
	background-color: #D55140;
	height: 5px;
	margin-top: -4px;
}
#dates .duration{
	background-color: #D55140;
	height: 15px;
	margin-top: -4px;
}

.worksicon{
	display: inline-block;
	padding:2px 6px;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	margin-right: 10px;
}
.rm-works{
	background-color: #D55140;
}
.rkd-works{
	background-color: #5A92D8;
}
.wd-works{
	background-color: #339966;
}
.rm-cats{
	background-color: #FD8F48;
}
.reviews{
	background-color: #cea36a;
}
.openbeelden{
	background-color: #c148bb;
}
.archives{
	background-color: #00d0d4;
}
.rm-works-noimg{
	background-color: #ccc;
}
.catlink{
	margin-top: 24px;
	margin-right: 12px;
	padding: 2px 10px;
	display: inline-block;
	background-color: #FD8F48;
	color: #fff;
}
#legend{
	font-size: 10px;
}
#legend .worksicon, #legend .duration{
	margin-left: 20px;
	margin-right: 3px;
}
.rkd, .wikidata{
	font-size: 12px;
}
#legend .worksicon:first-of-type{
	margin-left: 0;
}
.exh-object img{
	width: 100%;
	margin-top: 24px;
}
a.no-img{
	display: block;
	background-color: #E9E9E9;
	color: #fff;
	margin-top: 24px;
	text-align: center;
	font-weight: bold;
	padding: 24px 10px;
}
