body{
	margin-bottom: 100px;
}

h1{
	margin-top: 40px;
	border-bottom: 5px solid #000;
	padding-bottom: 12px;
}
h2{
	margin-top: 12px;
	padding-top: 6px;
	font-size: 18px;
}
h3{
	border-top: 5px solid #DFDFDF;
	margin-top: 12px;
	padding-top: 6px;
	font-size: 16px;
}
a{
	color: #000;
}
a:visited{
	color: #8B8B8B;
}
.light{
	color: #ccc;
}
#decades{
	margin-bottom: 20px;
}
#decades a{
	font-size: 14px;
	color: #000;
	display: inline-block;
	border-left: 1px solid #000;
	padding-left: 10px;
	margin-right: 10px;
}
#decades a:first-of-type{
	border-left: none;
	padding-left: 0;
}
.duration{
	background-color: #FD6398;
	height: 5px;
	margin-top: -4px;
}

.worksicon{
	display: inline-block;
	padding:2px 6px;
	border-radius: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 11px;
	margin-right: 10px;
}
.rm-works{
	background-color: #D55140;
}
.rkd-works{
	background-color: #5A92D8;
}
.rm-works-noimg{
	background-color: #ccc;
}
.exh-object img{
	width: 100%;
	margin-top: 24px;
}
a.no-img{
	display: block;
	background-color: #E9E9E9;
	color: #fff;
	margin-top: 24px;
	text-align: center;
	font-weight: bold;
	padding: 24px 10px;
}
